.container-table {
  width: 70%;
  margin-right: 5vw;
}

.container-form {
  width: 30%;
}

.title {
  padding: 2vh;
  background-color: #f7f7f7;
}

.container-data {
  margin: 2vh;
  display: flex;
}
