<table>
  <thead>
    <th *ngFor="let column of input_table_config.columns" class="table-header">
      <span *ngIf="!column.isHidden">
        {{ column.name }}
      </span>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let data of input_table_data">
      <td *ngFor="let key of data | tableKeys; let i = index">
        <span *ngIf="!input_table_columns[i].isHidden">
          {{ data[key] }}
        </span>
      </td>
      <td *ngIf="input_table_config.actions">
        <span *ngFor="let action of input_table_config.actions">
          <span *ngIf="action === tableAction.DELETE">
            <app-button-component
              [button-label]="tableAction.DELETE"
              (clickResponse)="actionClicked(data, tableAction.DELETE)"
            ></app-button-component>
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
